*{
    margin: 0;padding: 0;
}
nav{
    padding:0px;
}

nav a{
    text-decoration: none;
    margin: 50px;
    padding: 5px;
}
header{
    background-color: chartreuse;
    height: 20px;
}
#second{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: crimson;
    margin: 0;
    display: inline-block;
}
#box2{
    z-index: 2;
}
#container{
    margin: 5px;
    border: 5px solid;
}
#box3{
    position:fixed;
    top: -110px;
    left: 323px;
}

